.containerWrapper {
    width: 100%;
    height: 100%;
    border-top: 3px solid #ddefff;
    display: flex;
}

.skillsWrapper {
    width: 25vw;
    border-right: 3px solid #ddefff;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.experienceWrapper {
    width: 75vw;
    height: 100%;
    padding: 10px;
}

.work {
    padding: 15px;
}

.centerItems{
    display: flex;
    justify-content: center;
    width: 100%;
}

.expDetails {
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.expDetails i{
    font-size: 2rem;
    padding: 0px 10px;
}

.expDetails span {
    font-size: 1.4rem;
}

.iconWrapper {
    width: 20%;
    display: flex;
    justify-content: center;
}

.expWrapper {
    width: 80%;
    text-align: initial;
}