.footer {
    height: 15vh;
    background-color: #ececec;
    padding: 15px 0px;
}

.infoFooter {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.infoContacts {
    width: 100%;
}

.iconsContact {
    color: #2b2b2b;
    padding: 0px 5px;
}

.darkModeActive{
    background: #555!important;
    color:white;
}

.darkerModeActive{
    background:#333!important;
    color:white;
}

.darkModeColor{
    color:white
}